<style>
    .product-header {
        background: url(../..assets/img/01/title.jpg);
        background-color: #e5e5e5;
    }

    .page-header {
        background: url(../../assets/img/02/Cakeshelf-1200.jpg);
        background-color: #555555;
    }

    .product-header {
        background: url(../../assets/img/01/title.jpg);
        background-color: #e5e5e5;
    }
</style>



<style id='cakestore-custom-styles-inline-css' type='text/css'>
    body {
        color: #666666;
        font-family: Roboto Slab;
        font-weight: 400;
        line-height: 30px;
    }

    .read-more {
        color: #FBEFE2 !important;
    }

    .read-more:hover {
        color: #229955 !important;
    }

    .btn-link:after {
        background: #008080 !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #323232;
        font-family: Roboto Slab;
    }


    .size-cakestore_product_thumb {
        width: 250px !important;
        height: 250px !important;
    }

    .img-cake-top {
        width: 360px !important;
        height: 140px !important;
    }

    .topbar {
        background-color: #F5F5F5;
        color: #999999;
    }

    .topbar .nav>li.current_page_item a,
    .topbar .nav>li.current-menu-item a {
        color: #FBEFE2;
    }

    .topbar .nav>li a:hover {
        color: #FBEFE2;
    }

    .topbar .nav>li a {
        color: #999999;
        border-color: #FBEFE2;
    }

    .topbar i {
        color: #FBEFE2;
    }

    .header {
        background-color: #ffffff;
    }

    .bks-cart-widget .currency-switcher .dd-select {
        background: #ffffff !important;
    }

    .bks-cart-widget .currency-switcher,
    .bks-cart-widget .minicart-button {
        border-color: #e4e4e4;
    }

    .bks-cart-widget .currency-switcher a,
    .bks-cart-widget .minicart-button .cart-item-info a {
        color: #323232;
    }

    .bks-cart-widget .dd-pointer-down {
        border-top-color: #323232;
    }

    .bks-cart-widget .currency-switcher .dd-options {
        background: #ffffff;
    }

    .bks-cart-widget .currency-switcher ul.dd-options li:hover {
        background: #FBEFE2;
    }

    .bks-cart-widget .currency-switcher ul.dd-options a {
        color: #323232;
    }

    .bks-cart-widget .currency-switcher ul.dd-options li:hover a {
        color: #ffffff;
    }

    .main-menu,
    .main-menu .vc-mm-menu-h>ul.vc-nav-on-desktop>li>a {
        background: #008080;
        color: #ffffff;
        font-family: Roboto Slab;
        font-size: 13px;
    }

    .main-menu .vc-mm-menu-h>ul.vc-nav-on-desktop>li>a:hover {
        color: #ffffff;
    }

    .main-menu .vc-mm-menu-h>ul.vc-nav-on-desktop li.current-menu-ancestor>a,
    .main-menu .vc-mm-menu-h>ul.vc-nav-on-desktop li.current-menu-parent>a,
    .main-menu .vc-mm-menu-h>ul.vc-nav-on-desktop li.current-page-item>a {
        color: #ffffff;
    }

    .main-menu .vc-nav-on-desktop>li:hover>a.nav-link {
        background: #008080;
    }

    .main-menu .vc-nav-on-desktop>li.current-menu-item>a.nav-link,
    .main-menu vc-nav-on-desktop>li.current_page_item>a.nav-link {
        background: #008080;
    }

    .main-menu .vc-mm-mega-cont,
    .main-menu .sub-menu,
    .main-menu .vc-mm-menu-h .vc-nav-on-desktop .vc-mm-mega-cont-inner {
        background-color: #ffffff !important;
    }

    .main-menu .vc-mm-mega-cont li a,
    .sub-menu-inner li a.nav-link,
    .vc-mm-menu a,
    .vc-mm-menu li a {
        color: #262626;
    }

    .main-menu .vc-mm-mega-cont li a:hover,
    .main-menu ul.sub-menu-inner li a:hover,
    .main-menu .vc-mm-mega-cont li a:hover,
    .main-menu .vc-mm-mega-cont-inner li.current-menu-parent a {
        color: #008080 !important;
    }

    .main-menu .vc-mm-mega-cont ul li {
        border-color: #e5e5e5 !important;
    }

    body.boxed-layout {
        background-color: #e5e5e5;
        background-image: url();
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: cover;
    }

    .btn-primary,
    #back-to-top .btn {
        background-color: #e7500a !important;
        /* border-color: #FBEFE2 !important; */
        color: #ffffff !important;
    }

    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active:focus,
    .btn-primary:active:hover,
    #back-to-top .btn:hover,
    #back-to-top .btn:active,
    #back-to-top .btn:focus {
        background-color: #e7500a !important;
        border-color: #e7500a;
        color: #ffffff !important;
    }

    .product-wrap .add-to-cart-btn a,
    .product-wrap .yith_compare_btn a,
    .product-wrap .yith-wcwl-add-to-wishlist a,
    .yith-wcwl-add-to-wishlist .woocommerce a.add_to_wishlist,
    .product .single_add_to_cart_button,
    div.product .summary .yith-wcwl-add-to-wishlist a,
    .woocommerce div.product .summary .compare,
    .woocommerce div.product .woocommerce-tabs ul.tabs li.active,
    .gridlist-toggle a:hover,
    .gridlist-toggle a.active,
    .woocommerce #respond input#submit.alt,
    .woocommerce a.button.alt,
    .woocommerce button.button.alt,
    .woocommerce input.button.alt,
    .woocommerce #respond input#submit,
    .woocommerce a.button,
    .woocommerce button.button,
    .woocommerce input.button,
    .main-menu .vc-mm-h-sticky-wrapper.is-sticky .vc-transparent.vc-mm-menu-h,
    .main-menu .vc-nav-on-mobile,
    ul.post-categories li a,
    .main-menu .vc-mm-mega-cont h3:hover,
    .main-menu .vc-mm-mega-cont h4:hover,
    .main-menu .vc-mm-mega-cont h5:hover,
    #bks-products-slider .vc_tta.vc_general li.vc_active a {
        background-color: #7f462c !important;
        color: #ffffff !important;

    }

    .product-wrap .add-to-cart-btn a:hover,
    .woocommerce button.single_add_to_cart_button:hover,
    .product-wrap .add-to-cart-btn a.added,
    .product-wrap .yith_compare_btn a:hover,
    .product-wrap .yith-wcwl-add-to-wishlist a:hover,
    .product-wrap .yith-wcwl-wishlistaddedbrowse.show a,
    .product-wrap .yith-wcwl-wishlistexistsbrowse.show a,
    .product .single_add_to_cart_button:hover,
    div.product .summary .yith-wcwl-add-to-wishlist a:hover,
    .woocommerce div.product .summary .compare:hover,
    .yith-wcwl-wishlistaddedbrowse.show,
    .yith-wcwl-wishlistexistsbrowse.show,
    .catalog-image .yith-wcqv-button {
        background-color: #e7500a !important;
        color: #ffffff !important;
    }

    .add-to-cart-btn {
        background-color: #7f462c !important;
    }


    .woocommerce #content div.product div.thumbnails a:hover,
    .woocommerce div.product div.thumbnails a:hover,
    .woocommerce-page #content div.product div.thumbnails a:hover,
    .woocommerce-page div.product div.thumbnails a:hover,
    .woocommerce .woocommerce-info,
    .product-wrap:hover,
    .main-menu .vc-mm-mega-cont h3,
    .main-menu .vc-mm-mega-cont h4,
    .main-menu .vc-mm-mega-cont h5,
    .woocommerce .woocommerce-message,
    .bks-product-list-wrap .bks-products-list-container li:hover,
    .main-menu .vc-mm-mega-cont .wpb_wrapper h3 {
        border-color: #FBEFE2;
    }

    .woocommerce div.product .woocommerce-tabs ul.tabs li.active {
        border: 2px solid #FBEFE2;
    }

    #bks-products-slider .vc_tta-tabs-container ul li.vc_active:after {
        border-color: #FBEFE2 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    }

    .woocommerce .widget_price_filter .ui-slider .ui-slider-range,
    .bks-post-slider .post-grid .post-content .post-date {
        background-color: #FBEFE2 !important;
    }

    .woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
        border: 2px solid #FBEFE2;
    }

    .gridlist-toggle a {
        color: #FBEFE2;
        border: 2px solid #FBEFE2;
    }

    .bks-post-slider .post-grid .post-content .post-date:after {
        border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #FBEFE2 rgba(0, 0, 0, 0);
    }

    .woocommerce .woocommerce-info:before,
    .single .post-meta .author a,
    .woocommerce .woocommerce-message:before,
    .read-more,
    .bks-product-list-wrap .bks-products-list-container li .product-content .amount,
    .slick-dots li.slick-active button:before,
    .product-wrap span.price {
        color: red !important;
    }

    ul.post-categories li a:after {
        border-right-color: #FBEFE2;
    }

    .pagination>.active>a,
    .pagination>.active>span,
    .pagination>.active>a,
    .pagination>.active>a:focus,
    .pagination>.active>a:hover,
    .pagination>.active>span,
    .pagination>.active>span:focus,
    .pagination>.active>span:hover {
        background-color: #FBEFE2 !important;
        border: 2px solid #FBEFE2 !important;
        color: #ffffff !important;
    }

    @media only screen and (max-width:768px) {

        .vc-mm-menu-h .vc-nav-on-desktop,
        .vc-mm-menu-v .vc-nav-on-desktop,
        .vc-mm-menu-h .vc-nav-on-desktop .vc-mm-mega-cont,
        .vc-mm-menu-v .vc-nav-on-desktop .vc-mm-mega-cont {}
    }

    @media only screen and (max-width:768px) {

        .vc-mm-menu-h .vc-nav-on-desktop>li:hover>a,
        .vc-mm-menu-v .vc-nav-on-desktop>li:hover>a {
            background-color: #008080 !important;
            color: #ffffff !important;
        }

        .vc-mm-menu-h .vc-nav-on-desktop .vc-d-0>.nav-link,
        .vc-mm-menu-v .vc-nav-on-desktop .vc-d-0>.nav-link,
        .vc-mm-menu-h .vc-mm-child-title,
        .vc-mm-menu-v .vc-mm-child-title {
            border-color: #229955 !important;
        }
    }

    .read-more:hover {
        color: #229955;
    }

    .woocommerce div.product .woocommerce-tabs ul.tabs li {
        background-color: #ffffff !important;
        color: #333333 !important;
    }

    .bks-cart-widget .minicart-button {
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        border-left: 0px;
    }

    .bks-promo {
        background-color: #B7A930;
    }

    body .social-links li a .social-icon {
        background: #24a9e2;
        color: #ffffff;
    }

    body .social-links li a .social-icon:hover,
    body .social-links li a .social-icon:focus {
        background: #1e73be;
        color: #ffffff;
    }

    body .social-links li .social-icon,
    .social-icon:after {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
    }
</style>

<style type="text/css" data-type="vc_shortcodes-custom-css">
    .vc_custom_1454662051521 {
        padding-top: 30px !important;
        padding-bottom: 30px !important;
    }

    .vc_custom_1454597513538 {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
        background: url(../../../../assets/img1/bg/home-2/home-banner.jpg) !important;
    }

    .vc_custom_1454683539961 {
        margin-top: 0px !important;
        margin-right: 0px !important;
        margin-bottom: 3px !important;
        margin-left: 0px !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        background-color: #FBEFE2 !important;
    }

    .vc_custom_1454754526304 {
        padding-top: 60px !important;
        padding-bottom: 30px !important;
    }

    .vc_custom_1454685996679 {
        padding-top: 60px !important;
        padding-bottom: 60px !important;
        background: #424242 url(../../assets/img/01/ada9a09acea936d776a6f55c82778c43_XLf41b.jpg?id=10) !important;
    }

    .vc_custom_1454679052819 {
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }

    .vc_custom_1454597724991 {
        margin-top: 0px !important;
        margin-right: 0px !important;
        margin-bottom: 0px !important;
        margin-left: 0px !important;
        padding-top: 60px !important;
        padding-bottom: 60px !important;
        background-color: #f5f5f5 !important;
    }

    .vc_custom_1456470598040 {
        margin-top: 0px !important;
        margin-right: 0px !important;
        margin-bottom: 0px !important;
        margin-left: 0px !important;
        padding-top: 30px !important;
        padding-right: 30px !important;
        padding-bottom: 30px !important;
        padding-left: 30px !important;
        background-color: #008080 !important;
    }

    .vc_custom_1454686431101 {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    .vc_custom_1454686645519 {
        margin-top: 30px !important;
        border-bottom-width: 30px !important;
    }

    .vc_custom_1454829417282 {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        padding-top: 0px !important;
    }

    .vc_custom_1454830425190 {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        padding-right: 150px !important;
    }

    .vc_custom_1454830469549 {
        padding-top: 30px !important;
        padding-left: 90px !important;
    }
</style>

<!-- <style>
    .carousel-inner .active.left {
        left: -33%;
    }
    
    .carousel-inner .next {
        left: 33%;
    }
    
    .carousel-inner .prev {
        left: -33%;
    }
    
    .carousel-control.left,
    .carousel-control.right {
        background-image: none;
    }
    
    .carousel-multi .carousel-inner>.item {
        transition: 500ms ease-in-out left;
    }
    
    .carousel-multi .carousel-inner>.item>.media-card {
        background: transparent;
        border-right: 10px solid #fff;
        display: table-cell;
        width: 1%;
    }
    
    .carousel-multi .carousel-inner>.item>.media-card:last-of-type {
        border-right: none;
    }
    
    .carousel-multi .carousel-inner .active {
        display: table;
    }
    
    .carousel-multi .carousel-inner .active.left {
        left: -33%;
    }
    
    .carousel-multi .carousel-inner .active.right {
        left: 33%;
    }
    
    .carousel-multi .carousel-inner .next {
        left: 33%;
    }
    
    .carousel-multi .carousel-inner .prev {
        left: -33%;
    }
    
    @media all and (transform-3d),
    (-webkit-transform-3d) {
        .carousel-multi .carousel-inner>.item {
            transition: 300ms ease-in-out all;
            backface-visibility: visible;
            transform: translate3d()!important;
        }
    }
</style> -->

<!-- <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/img1/banner/home-3/1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/img1/banner/home-3/2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/img1/banner/home-3/3.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
</div> -->



<div id="homepage-4">
    <!-- <div id="hompage-2">
        <div class="ps-home-banner bg--cover" data-background="../../../../assets/img1/bg/home-2/home-banner.jpg">
          <div class="ps-carousel--nav owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="0" data-owl-nav="true" data-owl-dots="true" data-owl-item="1" data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="1" data-owl-item-lg="1" data-owl-duration="1000" data-owl-mousedrag="off" data-owl-nav-left="&lt;i class='fa fa-arrow-left'&gt;&lt;/i&gt;" data-owl-nav-right="&lt;i class='fa fa-arrow-right'&gt;&lt;/i&gt;">
            <div class="ps-product--banner">
              <div class="ps-product__thumbnail"><a href="product-default.html"><img src="https://datdecor.com/wp-content/uploads/2017/02/anh-banner-cai-tao-nha-biet-thu-1.jpg" alt=""></a></div>
              <div class="ps-product__content">
                <h4>FEATURED PRODUCT</h4><a class="ps-product__title" href="product-default.html"> Chikery Chocolate <br> Black flower</a>
                <p>Bakery - Sweet - Bio</p><a class="ps-btn" href="product-default.html"> Order Now</a>
              </div>
            </div>
            <div class="ps-product--banner">
              <div class="ps-product__thumbnail"><a href="product-default.html"><img src="https://datdecor.com/wp-content/uploads/2017/02/anh-banner-cai-tao-nha-biet-thu-1.jpg" alt=""></a></div>
              <div class="ps-product__content">
                <h4>FEATURED PRODUCT</h4><a class="ps-product__title" href="product-default.html"> Chikery Chocolate <br> Black flower</a>
                <p>Bakery - Sweet - Bio</p><a class="ps-btn" href="product-default.html"> Order Now</a>
              </div>
            </div>
            <div class="ps-product--banner">
              <div class="ps-product__thumbnail"><a href="product-default.html"><img src="https://datdecor.com/wp-content/uploads/2017/02/anh-banner-cai-tao-nha-biet-thu-1.jpg" alt=""></a></div>
              <div class="ps-product__content">
                <h4>FEATURED PRODUCT</h4><a class="ps-product__title" href="product-default.html"> Chikery Chocolate <br> Black flower</a>
                <p>Bakery - Sweet - Bio</p><a class="ps-btn" href="product-default.html"> Order Now</a>
              </div>
            </div>
          </div>
        </div>        
    </div>
     -->
     
     <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
          <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
          <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
          <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/img1/banner/home-3/1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/img1/banner/home-3/2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/img1/banner/home-3/3.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
    </div>



    
    <div id="bks-products-slider" class="vc_row wpb_row vc_row-fluid vc_custom_1454597513538">

        

        <div class="page-container">

            <div class="vc_general vc_tta vc_tta-tabs vc_tta-color-grey vc_tta-style-classic vc_tta-shape-rounded
   vc_tta-spacing-1 vc_tta-tabs-position-top vc_tta-controls-align-left">
                <div class='bks-heading '>
                    <h3 class='bks-title'>
                        <span style='font-size:18px;color:#333333;line-height:21px'>Mẫu bánh được ưa thích</span>
                    </h3>
                </div>
                <div class="col-md-12 text-center">
                </div>
                <div style="text-align:center">
                    <div>
                        <span style='font-size:18px;color:#333333;line-height:21px'>Những Bánh Được Bán Chạy Nhất</span>
                    </div>
                    <owl-carousel-o [options]="customOptions">

                        <ng-template *ngFor="let cakes of top5Buy" carouselSlide>
                            <div class="item">
                                <div class="media media-card">
                                    <div class=" product type-product
                                        status-publish has-post-thumbnail product_cat-budgeting-and-finance
                                        product_cat-creative-thinking product_cat-personal-finance product_cat-romance last
                                        instock sale featured shipping-taxable purchasable product-type-simple">
                                        <div class="product-wrap">
                                            <span *ngIf="cakes.sale!=0" class="on-sale">-{{cakes.sale}}%</span>
                                            <div class="product-image">
                                                <div class="catalog-image">
                                                    <button (click)="detailCake(cakes);"
                                                        style="background-color: transparent;border-color: transparent;">
                                                        <img src="{{cakes.imgCake}}"
                                                            class="attachment-cakestore_product_thumb size-cakestore_product_thumb wp-post-image"
                                                            alt="cake6" sizes="(max-width: 207px) 100vw, 207px" />
                                                        <div class="button yith-wcqv-button" data-product_id="78">
                                                            <i class="fa fa-search"></i>
                                                        </div>
                                                    </button>
                                                </div>

                                                <div class="product-buttons">
                                                    <div class="add-to-cart-btn">
                                                        <a *ngIf="checkCountMax10" rel="nofollow" data-product_id="78"
                                                            data-product_sku="" id="btnAddToCart" data-quantity="1"
                                                            class="button" data-toggle="modal" data-target="#myModal"
                                                            (mouseenter)="checkCountCartBeforeAdd(cakes)"
                                                            (click)="addToCart(cakes)">Chọn Mua</a>
                                                        <a *ngIf="!checkCountMax10" rel="nofollow" data-product_id="78"
                                                            data-product_sku="" id="btnAddToCart" data-quantity="1"
                                                            class="button" (mouseenter)="checkCountCartBeforeAdd(cakes)"
                                                            (click)="addToCart(item)">Chọn Mua</a>

                                                    </div>
                                                    <div class="yith-wcwl-add-to-wishlist add-to-wishlist-78">
                                                        <a rel="nofollow" data-product-id="78"
                                                            data-product-type="simple" style="cursor:pointer;"
                                                            (click)="favoriteCake(cakes._id)">
                                                            <i *ngIf="!validateFavorite(cakes._id)" class="fa fa-heart"
                                                                style="color:#FFF;margin-top: 20px;"></i>
                                                            <i *ngIf="validateFavorite(cakes._id)" class="fa fa-heart"
                                                                style="color: yellow;margin-top: 20px;"></i> </a>
                                                    </div>
                                                </div>
                                            </div>



                                            <div *ngIf="cakes.sale!=0" class="product-content">
                                                <h4 class="product_title">
                                                    <div id="OverFlowNameCake" href="cakeDetail">{{cakes.nameCake}}
                                                    </div>
                                                </h4>

                                                <span class="price">
                                                    <small style="font-size: 16px !important;">
                                                        <span class="woocommerce-Price-amount amount">
                                                            {{cakes.priceCake*(100-cakes.sale)/100 | currency:"VND"}}
                                                        </span>
                                                    </small>

                                                    <del style="font-size: 16px">
                                                        <span class="woocommerce-Price-amount amount">
                                                            {{cakes.priceCake | currency:"VND"}}
                                                        </span>
                                                    </del>
                                                </span>
                                            </div>
                                            <div *ngIf="cakes.sale==0" class="product-content">
                                                <h4 class="product_title">
                                                    <div id="OverFlowNameCake" href="cakeDetail">{{cakes.nameCake}}
                                                    </div>
                                                </h4>

                                                <span class="price" style="font-size: 20px !important;">
                                                    <small>
                                                        <span class="woocommerce-Price-amount amount">
                                                            {{cakes.priceCake | currency:"VND"}}
                                                        </span>
                                                    </small>
                                                </span>
                                            </div>

                                        </div>
                                    </div>


                                </div>
                            </div>
                        </ng-template>

                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="ps-section ps-home-testimonials">
            <div class="container">
            <div class="ps-section__header"><i class="chikery-tt5"></i>
                <p>Testimonial</p>
                <h3>What People Say</h3>
            </div>
          <div class="ps-section__content">
            <div class="ps-carousel--dots-2 owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="0" data-owl-nav="false" data-owl-dots="true" data-owl-item="1" data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="1" data-owl-item-lg="1" data-owl-duration="1000" data-owl-mousedrag="on">
              <div class="ps-block--testimonial">
                <div class="ps-block__header"><img src="img/users/1.png" alt=""></div>
                <div class="ps-block__content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed turpis feugiat, <span class="hightlight">mollis felis vel, viverra metus. </span>Sed vel nulla non neque dictum imperdiet. Aliquam egestas hendrerit euismod.</p>
                </div>
                <div class="ps-block__footer">
                  <p>Marry Lulie</p>
                </div>
              </div>
              <div class="ps-block--testimonial">
                <div class="ps-block__header"><img src="img/users/1.png" alt=""></div>
                <div class="ps-block__content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed turpis feugiat, <span class="hightlight">mollis felis vel, viverra metus. </span>Sed vel nulla non neque dictum imperdiet. Aliquam egestas hendrerit euismod.</p>
                </div>
                <div class="ps-block__footer">
                  <p>Harold M. Clark</p>
                </div>
              </div>
              <div class="ps-block--testimonial">
                <div class="ps-block__header"><img src="img/users/1.png" alt=""></div>
                <div class="ps-block__content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed turpis feugiat, <span class="hightlight">mollis felis vel, viverra metus. </span>Sed vel nulla non neque dictum imperdiet. Aliquam egestas hendrerit euismod.</p>
                </div>
                <div class="ps-block__footer">
                  <p>Timothy A. Mitchell</p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div> -->
    <!-- <div class="ps-page--shop">
        <div class="container">
          <div class="ps-shopping">         
            <div class="ps-shopping__right">             
              <div class="ps-product-box">
                <div class="row">
                  <div class="col-xs-12 col-sm-4 post-78 product type-product
                  status-publish has-post-thumbnail product_cat-budgeting-and-finance 
                  product_cat-creative-thinking product_cat-personal-finance product_cat-romance last
                   instock sale featured shipping-taxable purchasable product-type-simple">
                    <div class="ps-product" *ngFor="let cakes of cakeService.cake | paginate: {itemsPerPage: 4,currentPage: p }">
                      <div class="ps-product__thumbnail"><img src={{cakes.imgCake}} alt=""/><a class="ps-product__overlay" href="product-default.html"></a><span  class="ps-badge ps-badge--sale" *ngIf="cakes.sale!=0"><i>{{cakes.sale}}%</i></span>
                      </div>
                      <div class="ps-product__content">
                        <div class="ps-product__desc"><a class="ps-product__title" href="product-default.html">{{cakes.nameCake}}</a>
                          <p><span>350g</span><span>30 Min</span><span>120 <sup>o</sup>C</span></p><span class="ps-product__price sale"  *ngIf="cakes.sale!=0"><del>{{cakes.priceCake | currency:"VND"}}</del>{{cakes.priceCake*(100-cakes.sale)/100 | currency:"VND"}}</span>
                          <span class="ps-product__price sale"  *ngIf="cakes.sale==0">{{cakes.priceCake | currency:"VND"}}</span>
                        </div>
                        <div class="ps-product__shopping"><a class="ps-btn ps-product__add-to-cart" >Add to cart</a>
                          <div class="ps-product__actions"><a href="#"><i class="fa fa-heart-o"></i></a><a href="#"><i class="fa fa-random"></i></a></div>
                        </div>
                      </div>
                    </div>
                  </div>  
                  
                </div>
                <div>
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                  </div>
              </div>
             
            </div>
          </div>
        </div>
      </div> -->
    <div class="ps-section ps-home-menu-of-day">
        <div class="ps-section__left">
          <div class="ps-section__header">
            <p>Special Menu</p>
            <h3>Menu of the day</h3><i class="chikery-tt3"></i>
          </div>
          <div class="ps-section__content">
            <div class="ps-block--product-menu ps-tab-root">
              <div class="ps-block__header">            
                <ul class="ps-tab-list">
                  <li class="active"><a (click)="getCakeByCategoryspcecial('5fe5a55531a1704d7086c60f')" ><i class="chikery-bk1"></i> Bánh Mì</a></li>
                  <li><a (click)="getCakeByCategoryspcecial('5fe5a9cc31a1704d7086c611')"><i class="chikery-bk2"></i> Bánh Ngọt</a></li>                
                  <li><a (click)="getCakeByCategoryspcecial('5fd9db675b966409a45c2d5c')"><i class="chikery-bk4"></i> Cookies</a></li>
                </ul>
              </div>
              <div class="ps-tabs">
                <div class="ps-tab active" id="tab-menu-1">
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12" *ngFor="let cake of CakeByCategory; let i = index;">
                      <div *ngIf="i<6" class="ps-product--horizontal">
                        <div class="ps-product__thumbnail"><a class="ps-product__overlay" (click)="detailCake(cake)"></a><img src="{{cake.imgCake}}"></div>
                        <div class="ps-product__container">
                          <div class="ps-product__content"><a class="ps-product__title" (click)="detailCake(cake)">{{cake.nameCake}}</a>
                            <p>{{cake.detailCake}}</p>
                          </div>
                          <div class="ps-product__price"><span>{{cake.priceCake}}</span></div>
                        </div>
                      </div>
                    </div>                   
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ps-section__right bg--cover"></div>
      </div>
    <div class="ps-section ps-home-product">
        <div class="container">
            <div class="ps-section__header">
                <p>Tất cả sản phẩm</p>
                <h3>Bánh</h3><i class="chikery-tt3"></i>
            </div>
            <div class="ps-section__content">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6"
                        *ngFor="let cakes of cakeService.cake | paginate: {itemsPerPage: 6,currentPage: pp }">
                        <div class="ps-product">
                            <div class="ps-product__thumbnail"><img src={{cakes.imgCake}} /><a
                                    class="ps-product__overlay" (click)="detailCake(cakes)"></a><span
                                    class="ps-badge ps-badge--sale" *ngIf="cakes.sale!=0"><i>{{cakes.sale}}%</i></span>
                            </div>
                            <div class="ps-product__content">
                                <div class="ps-product__desc"><a class="ps-product__title"
                                        (click)="detailCake(cakes)">{{cakes.nameCake}}</a>
                                    <p><span>350g</span><span>30 Min</span><span>120 <sup>o</sup>C</span></p>
                                    <span class="ps-product__price sale" *ngIf="cakes.sale!=0"><del>{{cakes.priceCake |
                                            currency:"VND"}}</del>{{cakes.priceCake*(100-cakes.sale)/100 |
                                        currency:"VND"}}</span>
                                    <span class="ps-product__price sale" *ngIf="cakes.sale==0">{{cakes.priceCake |
                                        currency:"VND"}}</span>
                                </div>
                                <div class="ps-product__shopping">
                                    <a *ngIf="checkCountMax10" class="ps-btn ps-product__add-to-cart"
                                        data-product_id="78" data-product_sku="" data-quantity="1" data-toggle="modal"
                                        data-target="#myModal" (mouseenter)="checkCountCartBeforeAdd(cakes)"
                                        (click)="addToCart(cakes)">Chọn Mua</a>
                                    <a *ngIf="!checkCountMax10" class="ps-btn ps-product__add-to-cart"
                                        data-product_id="78" data-product_sku="" data-quantity="1"
                                        (mouseenter)="checkCountCartBeforeAdd(cakes)" (click)="addToCart(item)">Chọn
                                        Mua</a>
                                    <div class="ps-product__actions">
                                        <a (click)="favoriteCake(cakes._id)">
                                            <i *ngIf="!validateFavorite(cakes._id)" class="fa fa-heart-o"
                                                style="color:wheat"></i>
                                            <i *ngIf="validateFavorite(cakes._id)" style="cursor:pointer;"
                                                class="fa fa-heart" style="color:brown"></i>
                                        </a>
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
              
                    
                </div>
                <div class="ps-pagination">
                    <pagination-controls (pageChange)="pp = $event"></pagination-controls>
                </div>
            </div>
        </div>


        <div *ngIf="alertSucess" name="alertSucess" class="alert alert-success" role="alert"
            style=" position: fixed;width: 50%;bottom: 0;left: 40px;z-index: 1;z-index: 1000001;">
            {{alertMessage}}
        </div>
        <div *ngIf="alertFalse" name="alertFalse" class="alert alert-danger" role="alert"
            style=" position: fixed;width: 50%;bottom: 0;left: 40px;z-index: 1;z-index: 1000001;">
            {{alertMessage}}
        </div>

    </div>

    <div id="back-to-top" data-spy="affix" data-offset-top="300" class="back-to-top hidden-xs hidden-sm affix">
        <button id="scrollToTopButton" class="btn btn-scroll " title="Back to Top"><i
                class="fa fa-arrow-up"></i></button>
    </div>


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true" style="z-index: 1000000;">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <h5 class="modal-title" id="exampleModalLabel" style="color: black;font-size: 15px;text-align: left !important; width: 720px;">
                        <b>Sản phẩm <span style="color: black;">{{addACake}}</span> đã được Chọn Mua hàng của bạn</b>
                        
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="d-flex justify-content-end" style="font-size: 15px;">
                        <h5>Bạn có <b>{{TongCount}}</b> sản phẩm trong giỏ hàng</h5>
                        <h5 style="margin-top: -5px;">Tổng tiền : <b
                                style="color :#FE2E9A;font-size: 21px;">{{TongTien|currency:"VND"}}</b></h5>
                    </div>

                    <div class="col mb-2">
                        <div class="row">
                            <div class="col-sm-12  col-md-6">
                                <button id="continue" class="btn btn-block btn-light " style="padding: 10px 16px;"
                                    data-dismiss="modal" (click)="goToHome()">Tiếp tục mua hàng</button>
                            </div>
                            <div class="col-sm-12 col-md-6 text-right">
                                <button class="btn btn-lg btn-block btn-success text-uppercase" type="button"
                                    data-dismiss="modal" (click)="goToCartCake()">Giỏ hàng </button>
                            </div>

                        </div>
                    </div>
                    <h4>Có thể bạn sẽ thích</h4>
                    <div class="modal-footer border-top-0 d-flex justify-content-between" id="scroll">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-4 product type-product
                        status-publish has-post-thumbnail product_cat-budgeting-and-finance
                        product_cat-creative-thinking product_cat-personal-finance product_cat-romance last
                         instock sale featured shipping-taxable purchasable product-type-simple" *ngFor="let item of CakeByCategory  |
                        paginate: { id:'2',itemsPerPage: 3,currentPage: p }">
                                <div class="product-wrap" style="height: 370px;width: 240px;">    
                                    <span *ngIf="item.sale!=0" class="on-sale">-{{item.sale}}%</span>
                                    <div class="product-image">
                                        <div class="catalog-image">
                                            <button (click)="clickGoToCakeDetail(item._id);" data-dismiss="modal"
                                                style="background-color: transparent;border-color: transparent;">
                                                <img width="250px !important " height="250px ! important" src="{{item.imgCake}}"
                                                    class="attachment-cakestore_product_thumb size-cakestore_product_thumb wp-post-image"
                                                    alt="cake6"  />
                                                <div class="button yith-wcqv-button" data-product_id="78">
                                                    <i class="fa fa-search"></i>
                                                </div>
                                            </button>
                                        </div>

                                        <div class="product-buttons">
                                            <div class="add-to-cart-btn" id="add-to-cart-btn">
                                                <a rel="nofollow" data-product_id="78" data-product_sku=""
                                                    data-quantity="1" id="btnAddToCart_modal" class="button"
                                                    (click)="addToCart(item)">Chọn mua</a>
                                            </div>

                                            <div class="yith-wcwl-add-to-wishlist add-to-wishlist-78">
                                                <a rel="nofollow" data-product-id="78" data-product-type="simple"
                                                    style="cursor:pointer;" (click)="favoriteCake(item._id)">
                                                    <i *ngIf="!validateFavorite(item._id)" class="fa fa-heart"
                                                        style="margin-right: 30px;color:#FFF;margin-top: 20px;"></i>
                                                    <i *ngIf="validateFavorite(item._id)" class="fa fa-heart"
                                                        style="margin-right: 30px;color: red;margin-top: 20px;"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>


                                    <div *ngIf="item.sale!=0" class="product-content">
                                        <h4 class="product_title">
                                            <div id="OverFlowNameCake" href="cakeDetail">{{item.nameCake}}</div>
                                        </h4>
                                        <span class="price">
                                            <small style="font-size: 14px;">
                                                <span class="woocommerce-Price-amount amount">
                                                    {{item.priceCake*(100-item.sale)/100 | currency:"VND"}}
                                                </span>
                                            </small>

                                            <del style="font-size: 14px">
                                                <span class="woocommerce-Price-amount amount">
                                                    {{item.priceCake | currency:"VND"}}
                                                </span>
                                            </del>
                                        </span>
                                    </div>

                                    <div *ngIf="item.sale==0" class="product-content">
                                        <h4 class="product_title">
                                            <div id="OverFlowNameCake" href="cakeDetail">{{item.nameCake}}</div>
                                        </h4>
                                        <span class="price" >
                                            <small style="font-size: 14px;">
                                                <span class="woocommerce-Price-amount amount">
                                                    {{item.priceCake | currency:"VND"}}
                                                </span>
                                            </small>
                                        </span>
                                    </div>

                                </div>

                            </div>
                            
                        </div>
                        
                    </div>
                    <div>
                        <pagination-controls id='2' (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>