<p>insert-author works!</p>

<head>
    <meta charset="utf-8" />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
</head>

<body class="">
    <div class="wrapper ">

        <div class="main-panel" style="font-size: 13px;">
            <!-- Navbar -->
            <app-header></app-header>
            <div class="content" style="background-color: #EEEEEE;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <h3 class="card-title" style="font-size: 13px;">Thêm loại sản phẩm</h3>
                                </div>
                                <div class="card-body">
                                    <form #cakeForm="ngForm" (ngSubmit)="onSubmit(cakeForm)" class="appointment-form"
                                        style="color: #555555;">

                                        <div class="col-sm-4">
                                            <div class="input-field col s12">

                                                <img alt="" src="{{getLinkImgCategory}}"
                                                    style="width: 100%;height: 200px">
                                                <div *ngIf="category.imgCategory!=''"
                                                    style="position:absolute;top:0px;left:40px;width:220px;">
                                                    <h6
                                                        style='color:#323232;font-size: 13px;font-family:Robo;font-weight: bold;margin-top: 40px;margin-bottom: 20px;'>
                                                        Loại Sản phẩm</h6>
                                                    <h2
                                                        style='color:#FBEFE2;font-size: 25px;font-family:Robo;font-weight: bold;margin-top: 20px; text-transform: uppercase;'>
                                                        {{category.nameCategory}}</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="row" style="padding-bottom: 10px;">
                                                <div class="input-field col s12" style="padding: 0px;">
                                                    <label>Hình ảnh loại sản phẩm</label>
                                                    <input class="form-control" type="text"
                                                        (change)="getLinkImg($event)" name="imgCategory" #name="ngModel"
                                                        placeholder="Nhập link loại sản phẩm"
                                                        [(ngModel)]="category.imgCategory" required>

                                                </div>
                                            </div>
                                            <div class="row" style="padding-bottom: 10px;">
                                                <div class="input-field col s12" style="padding: 0px;">
                                                    <label>Tên Thể Loại</label>
                                                    <input class="form-control" type="text" name="nameCategory"
                                                        #name="ngModel" [(ngModel)]="category.nameCategory"
                                                        placeholder="Nhập tên loại sản phẩm" required>

                                                </div>
                                            </div>
                                            <div class="row" style="padding-bottom: 10px;">
                                                <div class="input-field col s12" style="padding: 0px;">
                                                    <label>Thông Tín Thể Loại</label>
                                                    <textarea class="form-control" rows="4" name="detailCategory"
                                                        #name="ngModel" [(ngModel)]="category.detailCategory"
                                                        placeholder="Nhập Mô Tả Thể Loại"></textarea>

                                                </div>
                                            </div>



                                            <div class="row" style="float: right;">
                                                &nbsp;
                                                <div class="input-field col s12">

                                                    <button class="btn btn-primary" type="submit"
                                                        style="border-radius: 30px ; width: 180px;height: 50px;font-size: 13px;">Lưu
                                                        Thông
                                                        Tin</button>
                                                    <button class="btn btn-primary" type="button" (click)="cancel()"
                                                        style="border-radius: 30px; width: 180px;height: 50px;font-size: 13px;">Trở
                                                        Về</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <app-footer></app-footer>
        </div>
    </div>


</body>