cd
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">

<body class="">
    <div class="wrapper ">
        <div class="main-panel" style="font-size: 13px;">
            <!-- Navbar -->
            <app-header></app-header>
            <!-- End Navbar -->
            <div class="content" style="background-color: #EEEEEE;">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-md-8">
                            <p style="color: green; font-size: 15px;text-align: center;" *ngIf="statusChangePass">{{ alertMessage }}</p>
                            <p *ngIf="!statusChangePass" style="color: red; font-size: 15px;text-align: center;">{{ alertMessage }}</p>
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <h3 class="card-title">Thông tin của bạn</h3>
                                </div>
                                <div class="card-body">
                                    <form method="post" [formGroup]="changPasswordForm">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Email</label>
                                                    <input type="text" class="form-control" formControlName="email" value="{{userService.selectedUser?.email}}" readonly>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Mật Khẩu Hiện Tại</label>
                                                    <input type="password" class="form-control" formControlName="currentPassword" style="font-size: 15px;" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Mât Khẩu Mới</label>
                                                    <input type="password" class="form-control" formControlName="newPassword" style="font-size: 15px;" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Xác Nhận Mật Khẩu</label>
                                                    <input type="password" class="form-control" formControlName="rePassword" style="font-size: 15px;" required>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-primary pull-right" style="font-size: 13px;" (click)="moveToAdminProfile();">Trở Về</button>

                                        <button type="submit" class="btn btn-primary pull-right" style="font-size: 13px;" (click)="changePassword();">Lưu Thông Tin</button>

                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-profile">
                                <div class="card-avatar">
                                    <a href="javascript:;">
                                        <img class="img" src="{{ userService.selectedUser?.imageUrl }}" />
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h3 class="card-category text-gray">{{userService.selectedUser?.username}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <app-footer></app-footer>

        </div>

    </div>


</body>