<head>
    <meta charset="utf-8" />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
</head>

<body class="">
    <div class="wrapper ">

        <div class="main-panel" style="font-size: 13px;">
            <!-- Navbar -->
            <app-header></app-header>
            <div class="content" style="background-color: #EEEEEE;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <h3 class="card-title" style="font-size: 13px;">Thông Tin Sản phẩm</h3>
                                </div>
                                <div class="card-body">
                                    <p *ngIf="alertSucess" style="color: green;font-size: 16px;text-align: center;">{{alertMessage}}</p>
                                    <form #cakeForm="ngForm" (ngSubmit)="onSubmit(cakeForm)" class="appointment-form" style="color: #555555;">
                                        <div class="col-sm-4">
                                            <div class="input-field col s12">

                                                <img alt="" src="{{ cakeService.selectedCake.imgCake }}" style="width: 100%;height: 100%;">

                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="row" style="padding-bottom: 10px;">
                                                <div class="input-field col s12" style="padding: 0px;">
                                                    <label>Hình Ảnh Sản Phẩm</label>
                                                    <input class="form-control" type="text" name="imgCake" #name="ngModel" placeholder="Nhập Link Sản phẩm" [(ngModel)]="cakeService.selectedCake.imgCake" required>

                                                </div>
                                            </div>
                                            <div class="row" style="padding-bottom: 10px;">
                                                <div class="input-field col s12" style="padding: 0px;">
                                                    <label>Tên Sản Phẩm</label>
                                                    <input class="form-control" type="text" name="nameCake" #name="ngModel" [(ngModel)]="cakeService.selectedCake.nameCake" placeholder="Nhập Tên Sản phẩm" required>

                                                </div>
                                            </div>
                                            <div class="row" style="padding-bottom: 10px;">
                                                <div class="col-sm-4" style="padding: 0px;">
                                                    <label>Loại Sản Phẩm</label>&nbsp;
                                                    <!-- <input  class="form-control" type="text" name="donGiaMon"  placeholder="Nhập Tên Loại Sản Phẩm"> -->
                                                    <div class="id_100">
                                                        <select class="custom-select" style="height:36px;font-size: 14px;padding-left: 10px;" name="categoryID" id="selectCategory" [(ngModel)]="cakeService.selectedCake.categoryID">
                                <!-- <option ></option> -->
                                <option *ngFor ="let category of categoryService.categories"
                                value="{{category._id}}">{{category.nameCategory}}</option>
                                </select>
                                                    </div>
                                                </div>

                                                <div class="col-sm-4">
                                                    <label>Sản Phẩm Đặt Biệt</label>&nbsp;
                                                    <div>
                                                        <!-- <mat-checkbox class="example-margin" [checked]="spdacbiet"></mat-checkbox> -->
                                                        <input class="example-margin" type="checkbox" #name="ngModel" name="spdacbiet" [(ngModel)]="cakeService.selectedCake.spdacbiet" checked>   
                                                    </div>
                                                </div>

                                               


                                                
                                            </div>

                                            <div class="row" style="padding-bottom: 10px;">
                                                <div class="col-sm-4" style="padding: 0px;">
                                                    <label>Đơn Giá</label>
                                                    <input class="form-control" type="text" #name="ngModel" name="priceCake" [(ngModel)]="cakeService.selectedCake.priceCake">

                                                </div>
                                                <div class="col-sm-4" style="padding: 0px;">
                                                    <label>Số lượng</label>
                                                    <input class="form-control" type="text" #name="ngModel" name="quantity" [(ngModel)]="cakeService.selectedCake.quantity">

                                                </div>
                                                <div class="col-sm-4">
                                                    <label>Giảm Giá</label>
                                                    <div class="id_100">
                                                        <select class="custom-select" name="sale" #name="ngModel" [(ngModel)]="cakeService.selectedCake.sale" required style="padding-left: 10px;width: 190px;height: 36px;font-size: 14px;">
                                <!-- <option ></option> -->
                           
                                <option   value=5 >5%</option>
                                <option value=10 >10%</option>
                                <option value=15 >15%</option>
                                <option value=20 >20%</option>
                                <option value=25 >25%</option>
                              </select>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="row" style="padding-bottom: 10px;">
                                                <div class="input-field col s12" style="padding: 0px;">
                                                    <label>Chi Tiết Sản Phẩm</label>
                                                    <textarea class="form-control" type="text" name="detailCake" #name="ngModel" [(ngModel)]="cakeService.selectedCake.detailCake" placeholder="Nhập Mô Tả Sản Phẩm"></textarea>

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <button class="btn btn-primary" type="submit" style="border-radius: 30px ; width: 100%;height: 50px;font-size: 13px;">Lưu Thông Tin</button>

                                                </div>
                                                <div class="col-sm-6">
                                                    <button class="btn btn-primary" type="button" (click)="cancel()" style="border-radius: 30px; width: 100%;height: 50px;font-size: 13px;">Trở Về</button>
                                                </div>

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <app-footer></app-footer>
        </div>
    </div>
</body>