@import '../../../assets/css_admin/css/material-dashboard.css';
.dropdown-menu .dropdown-item{
    font-size: 12px;
}

.w-75{
    width: 100px;
}
.custom-select{
    -webkit-appearance: listbox;
    -moz-appearance: none;
    appearance: none;
    background:none;
  }