<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">

<body class="archive tax-product_cat term-personal-finance term-13 woocommerce woocommerce-page wpb-js-composer 
js-comp-ver-4.9.2 vc_responsive ">
    <div class="wrapper">
        <!-- //MAIN NAVIGATION -->
        <!-- <div class="product-header bks-breadcrumb">
            <div class="container">
                <h1>DANH SÁCH MÃ KHUYẾN MÃI</h1>
            </div>
        </div> -->
        <div class="container padding-40-v">
            <div id="main-content" class="col-xs-12 col-sm-9 right">
                <div class="table-responsive">
                    <table class="table table-striped" style="color: black;">
                        <thead>
                            <tr>
                                <th scope="col">Mã Khuyến Mãi</th>
                                <th></th>
                                <th scope="col">Nội Dung Khuyến Mãi</th>
                                <th></th>
                                <th></th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let discountCode of discountCodes  | paginate: { id:'1',itemsPerPage: 8,currentPage: p1 }">
                                <td colspan="2">{{discountCode._id}}</td>
                                <td colspan="2">{{discountCode.discountDetail}}</td>

                                <td colspan="2" style="float: center;">
                                    <button *ngIf="Code._id != discountCode._id" class="btn btn-sm btn-info" type="button" (click)="goToBookCart(discountCode)">Dùng Mã <i class="fa fa-ticket"></i> </button>
                                    <button *ngIf="Code._id == discountCode._id" class="btn btn-sm btn-info" type="button" (click)="goToBookCart(discountCode)">Mã Đang Sử Dụng <i class="fa fa-ticket"></i> </button>
                                </td>
                            </tr>

                            <tr *ngIf="!IsDisCount" style="background-color: #EEE;height:60px;width: 100%;text-align: center;">
                                <td colspan="6" style="top:15px;position: relative;text-align: center;">Bạn Không Còn Mã Khuyến Mãi Nào </td>
                            </tr>
                        </tbody>

                    </table>
                    <div *ngIf="IsDisCount">
                        <pagination-controls id='1' (pageChange)="p1 = $event"></pagination-controls>
                    </div>
                </div>

            </div>
            <!-- main app container -->
            <div id="shop-sidebar" class="sidebar col-xs-12 col-sm-3 left">
                <style>
                    #price-slider {
                        width: 300px;
                        height: 80px;
                        font-size: 14px;
                    }
                    
                    #price-slider input {
                        width: 90px;
                        display: inline-block;
                        font-size: 12px;
                    }
                    
                    #slider-range {
                        position: relative;
                        margin: auto;
                        width: 250px;
                        height: 13px;
                        border: solid 1px black;
                    }
                    
                    #slider-range .ui-slider-handle {
                        position: absolute;
                        width: 15px;
                        height: 5px;
                        margin-top: 2px;
                        border: solid 1px black;
                        cursor: pointer;
                    }
                    
                    #slider-range .ui-slider-range {
                        background: blue;
                    }
                    
                    #slider-range .ui-corner-all {
                        border-radius: 0px;
                    }
                </style>

                <div id="woocommerce_product_categories-2" class="widget woocommerce widget_product_categories">
                    <h3 class="widget-title">Tài Khoản</h3>
                    <ul class="product-categories">
                        <li class="cat-item cat-item-11">
                            <a *ngIf="loginBy == 'loginbt'" (click)="moveToProfileDetail();">Thông Tin Tài Khoản</a>
                            <a *ngIf="loginBy == 'loginSocial'" (click)="moveToProfileAccountSocial();">Thông Tin Tài Khoản</a>
                            <a (click)="goToFavorite();">Sản Phẩm Yêu Thích</a>
                        </li>
                    </ul>
                </div>
                <div id="woocommerce_product_categories-2" class="widget woocommerce widget_product_categories">
                    <h3 class="widget-title">Đơn Hàng</h3>
                    <ul class="product-categories">
                        <li class="cat-item cat-item-11">
                            <a (click)="goToOrderHistory()">Lịch Sử Mua Hàng</a>
                            <a (click)="goToDiscountCode()">Danh Sách Mã Khuyến Mãi</a>

                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Back to Top -->
        <div id="back-to-top" data-spy="affix" data-offset-top="300" class="back-to-top hidden-xs hidden-sm affix">
            <button id="scrollToTopButton" class="btn btn-primary" title="Back to Top"><i class="fa fa-arrow-up"></i></button>
        </div>
        <!-- Back to Top -->
    </div>



</body>