<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">

<body class="archive tax-product_cat term-personal-finance term-13 woocommerce woocommerce-page wpb-js-composer 
js-comp-ver-4.9.2 vc_responsive ">
    <div class="wrapper">
       
        <!-- <div class="container padding-40-v">
            <div id="main-content" class="col-xs-12 col-sm-9 right">

                <div id="container">

                    <div id="content" role="main">
                        <div style="font-size:22px;padding:15px ;">Kết quả tìm kiếm cho <b>'{{cakeFilter.nameCake}}'</b>
                        </div>
                        <div class="before-shop-loop">
                            <p class="woocommerce-result-count">
                                Chọn lọc sắp xếp</p>
                            <form class="woocommerce-ordering">
                                <select name="orderby" class="orderby" (change)="onEditClick($event.target.value)">
                                <option value="sortAscending">Theo giá tiền (Tăng Dần)</option>
                                <option  value="sortDescending" >Theo giá tiền (Giảm Dần)</option>  
                                </select>
                            </form>
                        </div>

                        <div class="products clearfix" id="categoryBanh">
                            <div class="item col-xs-12 col-sm-4 post-78 product type-product
                                    status-publish has-post-thumbnail product_cat-budgeting-and-finance 
                                    product_cat-creative-thinking product_cat-personal-finance product_cat-romance last
                                     instock sale featured shipping-taxable purchasable product-type-simple"
                                *ngFor="let item of cakes | paginate: { id:'1',itemsPerPage: 6,currentPage: p1 }">
                                <div class="product-wrap">
                                    <span *ngIf="item.sale!=0" class="on-sale">-{{item.sale}}%</span>
                                    <div class="product-image">
                                        <div class="catalog-image">
                                            <button (click)="detailCake(item);"
                                                style="background-color: transparent;border-color: transparent;">
                                                <img width="207" height="265" src="{{item.imgCake}}"
                                                    class="attachment-cakestore_product_thumb size-cakestore_product_thumb wp-post-image"
                                                    alt="cake6" sizes="(max-width: 207px) 100vw, 207px" />
                                                <div class="button yith-wcqv-button" data-product_id="78">
                                                    <i class="fa fa-search"></i>
                                                </div>
                                            </button>
                                        </div>

                                        <div class="product-buttons">
                                            <div class="add-to-cart-btn">
                                                <a *ngIf="checkCountMax10" rel="nofollow"
                                                    style="background: #079992 !important;" data-product_id="78"
                                                    data-product_sku="" data-quantity="1" class="button"
                                                    data-toggle="modal" data-target="#myModal"
                                                    (mouseenter)="checkCountCartBeforeAdd(item)"
                                                    (click)="addToCart(item)">Chọn mua</a>
                                                <a *ngIf="!checkCountMax10" rel="nofollow"
                                                    style="background: #079992 !important;" data-product_id="78"
                                                    data-product_sku="" data-quantity="1" class="button"
                                                    (mouseenter)="checkCountCartBeforeAdd(item)"
                                                    (click)="addToCart(item)">Chọn mua</a>
                                            </div>

                                            <div class="yith-wcwl-add-to-wishlist add-to-wishlist-78">
                                                <a rel="nofollow" data-product-id="78" data-product-type="simple"
                                                    style="cursor:pointer;background: #079992 !important;"
                                                    (click)="favoriteCake(item._id)">
                                                    <i *ngIf="!validateFavorite(item._id)" class="fa fa-heart"
                                                        style="margin-left:40px;color:#FFF;margin-top: 20px;"></i>
                                                    <i *ngIf="validateFavorite(item._id)" class="fa fa-heart"
                                                        style="margin-left:40px;color: red;margin-top: 20px;"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <div *ngIf="item.sale!=0" class="product-content">
                                        <h4 class="product_title">
                                            <div id="OverFlowNameCake" href="cakeDetail">{{item.nameCake}}</div>
                                        </h4>
                                        <span class="price">
                                            <ins>
                                                <span class="woocommerce-Price-amount amount"
                                                    style="text-decoration-line: none !important;">
                                                    {{item.priceCake*(100-item.sale)/100 | currency:"VND"}}
                                                </span>
                                            </ins>

                                            <del style="font-size: 12px">
                                                <span class="woocommerce-Price-amount amount">
                                                    {{item.priceCake | currency:"VND"}}
                                                </span>
                                            </del>
                                        </span>
                                    </div>
                                   
                                    <div *ngIf="item.sale==0" class="product-content">
                                        <h4 class="product_title">
                                            <div id="OverFlowNameCake" href="cakeDetail">{{item.nameCake}}</div>
                                        </h4>
                                        <span class="price">
                                            <ins>
                                                <span class="woocommerce-Price-amount amount">
                                                    {{item.priceCake | currency:"VND"}}
                                                </span>
                                            </ins>
                                        </span>
                                    </div>
                              
                                </div>
                            </div>
                        </div>
                        <div>
                            <pagination-controls id='1' (pageChange)="p1 = $event"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
           
            <div id="shop-sidebar" class="sidebar col-xs-12 col-sm-3 left">
                <div id="woocommerce_price_filter-2" class="widget woocommerce widget_price_filter">
                    <h3 class="widget-title">Giá</h3>
                    <div id="price-slider">
                        <p>
                            <label for="amount">Khoảng giá từ :</label>
                            <input type="text" id="amount-min" readonly
                                style="border:0; color:#808080; font-weight:bold;font-size: 11px;">
                            <input type="text" id="amount-max" readonly
                                style="border:0; color:#808080; font-weight:bold;font-size: 11px;">
                        </p>
                        <div class="col-sm-10">
                            <npn-slider [min]="10000" [max]="500000" [minSelected]="40000" [maxSelected]="300000"
                                [step]="10000" [showStepIndicator]="true" (onChange)="onSliderChange($event)">
                            </npn-slider>
                        </div>
                        <div class="col-sm-2">
                            <nav class="gridlist-toggle">
                                <a type="submit" (click)="filterByPrice();"><span class="fa fa-filter"></span>
                                    <em>Filter</em></a>
                            </nav>
                        </div>
                    </div>

                </div>


                <div id="woocommerce_product_categories-2" class="widget woocommerce widget_product_categories">
                    <h3 class="widget-title">Loại Sản Phẩm</h3>

                    <ul class="product-categories" *ngFor="let category of cakeCategoryService.categories
                     | slice: startPageCategories:paginationLimitCategories;">
                        <li *ngIf="category._id==cakeFilter.category_id" class="cat-item cat-item-11">
                            <a style="background-color:limegreen;"
                                (click)="gettypeCategory(category._id);">{{category.nameCategory}}</a>
                        </li>
                        <li *ngIf="category._id!=cakeFilter.category_id" class="cat-item cat-item-11">
                            <a (click)="gettypeCategory(category._id);">{{category.nameCategory}}</a>
                        </li>
                    </ul>
                    <a class="myButtonCategory"
                        *ngIf="paginationLimitCategories <  cakeCategoryService.categories?.length"
                        (click)="showMoreCategories()">
                        Xem Thêm
                    </a>
                    <a class="myButtonCategory"
                        *ngIf="paginationLimitCategories ==  cakeCategoryService.categories?.length"
                        (click)="showLessCategories()">
                        Thu Gọn
                    </a>
                </div>
            </div>
        </div> -->

        <div class="ps-hero ps-hero--shopping bg--cover">
            <div class="ps-hero__container">
              <div class="ps-breadcrumb">
                <ul class="breadcrumb">
                  <li><a (click)="goToHome()">Trang chủ</a></li>
                  <li>Cửa hàng</li>
                </ul>
              </div>
              <h1 class="ps-hero__heading">Bánh</h1>
            </div>
          </div>
          <div class="ps-page--shop">
            <div class="container">
              <div class="ps-shopping">
                <div class="ps-shopping__left">
                  <aside class="widget widget_shop widget_categories">
                    <h3 class="widget-title">Loại bánh</h3>
                    <ul *ngFor="let category of cakeCategoryService.categories
                    | slice: startPageCategories:paginationLimitCategories;">
                       <li *ngIf="category._id==cakeFilter.category_id">
                           <a
                               (click)="gettypeCategory(category._id);">{{category.nameCategory}}</a>
                       </li>
                       <li *ngIf="category._id!=cakeFilter.category_id">
                           <a (click)="gettypeCategory(category._id);">{{category.nameCategory}}</a>
                       </li>
                   </ul>
                  </aside>
                  <aside class="widget widget_shop widget_shop-filter">
                    <h3 class="widget-title">Giá</h3>
                    <!-- <div class="ps-slider" data-default-min="0" data-default-max="100" data-max="100" data-step="5" data-unit="$"></div>
                    <p class="ps-slider__meta">Price:<span class="ps-slider__value ps-slider__min"></span>-<span class="ps-slider__value ps-slider__max"></span></p> -->
                    <div class="price-slider">
                        <div>
                            <label for="amount">Khoảng giá từ :</label>
                            <div style="display: flex;">
                                <input type="text" id="amount-min" readonly
                                style="border:0; color:#808080; font-weight:bold;font-size: 11px;">
                                <input type="text" id="amount-max" readonly
                                style="border:0; color:#808080; font-weight:bold;font-size: 11px;">
                            </div>
                            
                        </div>
                        <div class="col-sm-10">
                            <npn-slider [min]="1000" [max]="100000" [minSelected]="1000" [maxSelected]="100000"
                                [step]="1000" [showStepIndicator]="true" (onChange)="onSliderChange($event)">
                            </npn-slider>
                        </div>
                        <div  style="text-align: center; width: 150px !important; height: 30px !important;">
                            <nav class="gridlist-toggle"  >
                                <a type="submit" (click)="filterByPrice();"><span class="fa fa-filter"></span>
                                    Filter</a>
                            </nav>
                        </div>
                    </div>
                  </aside>
                  
                
                 
                </div>
                <div class="ps-shopping__right">
                  <div class="ps-shopping__top">
                    <div style="font-size:22px;padding:15px ;">Kết quả tìm kiếm cho <b>'{{cakeFilter.nameCake}}'</b>
                    </div>
                    <figure>
                      <select class="ps-select" title="Default Sorting" (change)="onEditClick($event.target.value)">
                        <option value="sortAscending">Theo giá tiền (Tăng Dần)</option>
                        <option  value="sortDescending" >Theo giá tiền (Giảm Dần)</option>  
                      </select>
                    </figure>
                  </div>
                  <div class="ps-product-box">
                    <div class="row" >
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6"  *ngFor="let item of cakes | paginate: {itemsPerPage: 6,currentPage: p }">
                            <div class="ps-product">
                                <div class="ps-product__thumbnail"><img src={{item.imgCake}}/><a  class="ps-product__overlay"
                                         (click)="detailCake(item)"></a><span
                                        class="ps-badge ps-badge--sale" *ngIf="item.sale!=0"><i>{{item.sale}}%</i></span>
                                </div>
                                <div class="ps-product__content">
                                    <div class="ps-product__desc"><a class="ps-product__title"
                                           >{{item.nameCake}}</a>
                                        <p><span>350g</span><span>30 Min</span><span>120 <sup>o</sup>C</span></p>
                                        <span class="ps-product__price sale" *ngIf="item.sale!=0"><del>{{item.priceCake |
                                                currency:"VND"}}</del>{{item.priceCake*(100-item.sale)/100 |
                                            currency:"VND"}}</span>
                                        <span class="ps-product__price sale" *ngIf="item.sale==0">{{item.priceCake |
                                            currency:"VND"}}</span>
                                    </div>
                                    <div class="ps-product__shopping">
                                        <a *ngIf="checkCountMax10" class="ps-btn ps-product__add-to-cart"
                                            data-product_id="78" data-product_sku="" data-quantity="1" data-toggle="modal"
                                            data-target="#myModal" (mouseenter)="checkCountCartBeforeAdd(item)"
                                            (click)="addToCart(item)">Chọn Mua</a>
                                        <a *ngIf="!checkCountMax10" class="ps-btn ps-product__add-to-cart"
                                            data-product_id="78" data-product_sku="" data-quantity="1"
                                            (mouseenter)="checkCountCartBeforeAdd(item)" (click)="addToCart(item)">Chọn
                                            Mua</a>     
                                        <div class="ps-product__actions">
                                            <a (click)="favoriteCake(item._id)">
                                                <i *ngIf="!validateFavorite(item._id)" class="fa fa-heart-o"
                                                    style="color:wheat"></i>
                                                <i *ngIf="validateFavorite(item._id)" style="cursor:pointer;"
                                                    class="fa fa-heart" style="color:brown"></i>
                                            </a>
                                            <!-- <a><i class="fa fa-random"></i></a></div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                       
                    </div>
                    <div class="ps-pagination">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>  
        <!--  message alert -->
        <div *ngIf="alertSucess" name="alertSucess" class="alert alert-success" role="alert"
            style=" position: fixed;width: 50%;bottom: 0;left: 40px;z-index: 1;z-index: 1000001;">
            {{alertMessage}}
        </div>
        <div *ngIf="alertFalse" name="alertFalse" class="alert alert-danger" role="alert"
            style=" position: fixed;width: 50%;bottom: 0;left: 40px;z-index: 1;z-index: 1000001;">
            {{alertMessage}}
        </div>
        <!--  message alert -->
    </div>
   
    <div id="back-to-top" data-spy="affix" data-offset-top="300" class="back-to-top hidden-xs hidden-sm affix"
        style="display: block;">
        <button id="scrollToTopButton" class="btn btn-primary" title="Back to Top"><i
                class="fa fa-arrow-up"></i></button>
    </div>
    <!-- Back to Top -->

    <!-- modal add cake -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true" style="z-index: 1000000;">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <h5 class="modal-title" id="exampleModalLabel" style="color: black;font-size: 15px;text-align: left !important; width: 720px;">
                        <b>Bánh <span style="color: #FA58F4;">{{addACake}}</span> đã được thêm vào giỏ hàng của bạn</b>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h5>

                </div>
                <div class="modal-body">

                    <div class="d-flex justify-content-end" style="font-size: 15px;">
                        <h5>Bạn có <b>{{TongCount}}</b> sản phẩm trong giỏ hàng</h5>
                        <h5 style="margin-top: -5px;">Tổng tiền : <b
                                style="color :#FE2E9A;font-size: 21px;">{{TongTien|currency:"VND"}}</b></h5>
                    </div>

                    <div class="col mb-2">
                        <div class="row">
                            <div class="col-sm-12  col-md-6">
                                <button id="continue" class="btn btn-block btn-light " style="padding: 10px 16px;"
                                    data-dismiss="modal">Tiếp tục mua hàng</button>
                            </div>
                            <div class="col-sm-12 col-md-6 text-right">
                                <button class="btn btn-lg btn-block btn-success text-uppercase" style="background-color:  #7f462c;" type="button"
                                    data-dismiss="modal" (click)="goToCartCake()">Giỏ hàng </button>
                            </div>

                        </div>
                    </div>
                    <h4>Có thể bạn sẽ thích</h4>
                    <div class="modal-footer border-top-0 d-flex justify-content-between" id="scroll">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-4 product type-product
                            status-publish has-post-thumbnail product_cat-budgeting-and-finance 
                            product_cat-creative-thinking product_cat-personal-finance product_cat-romance last
                             instock sale featured shipping-taxable purchasable product-type-simple" *ngFor="let item of cakes  |
                            paginate: { id:'2',itemsPerPage: 3,currentPage: p }">
                                <div class="product-wrap" style="height: 370px;width: 240px;">
                                    <span *ngIf="item.sale!=0" class="on-sale">-{{item.sale}}%</span>
                                    <div class="product-image">
                                        <div class="catalog-image">
                                            <button (click)="detailCake(item);" data-dismiss="modal"
                                                style="background-color: transparent;border-color: transparent;">
                                                <img width="207" height="265" src="{{item.imgCake}}"
                                                    class="attachment-cakestore_product_thumb size-cakestore_product_thumb wp-post-image"
                                                    alt="cake6" />
                                                <div class="button yith-wcqv-button" data-product_id="78">
                                                    <i class="fa fa-search"></i>
                                                </div>
                                            </button>
                                        </div>

                                        <div class="product-buttons">
                                            <div class="add-to-cart-btn"><a rel="nofollow" data-product_id="78"
                                                    data-product_sku="" style="background:  #7f462c !important;"
                                                    data-quantity="1" class="button" (click)="addToCart(item)">Chọn
                                                    mua</a>
                                            </div>

                                            <div class="yith-wcwl-add-to-wishlist add-to-wishlist-78">
                                                <a rel="nofollow" data-product-id="78" data-product-type="simple"
                                                    style="cursor:pointer;background:  #7f462c !important;"
                                                    (click)="favoriteCake(item._id)">
                                                    <i *ngIf="!validateFavorite(item._id)" class="fa fa-heart"
                                                        style="margin-right: 30px;color:#FFF;margin-top: 20px;"></i>
                                                    <i *ngIf="validateFavorite(item._id)" class="fa fa-heart"
                                                        style="margin-right: 30px;color: red;margin-top: 20px;"></i>
                                                </a>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                    <!-- end product-image -->
                                    <!-- Sale -->
                                    <div *ngIf="item.sale!=0" class="product-content">
                                        <h4 class="product_title">
                                            <div id="OverFlowNameCake" href="cakeDetail">{{item.nameCake}}</div>
                                        </h4>
                                        <span class="price">
                                            <small style="font-size: 14px;">
                                                <span class="woocommerce-Price-amount amount">
                                                    {{item.priceCake*(100-item.sale)/100 | currency:"VND"}}
                                                </span>
                                            </small>

                                            <del style="font-size: 14px;">
                                                <span class="woocommerce-Price-amount amount">
                                                    {{item.priceCake | currency:"VND"}}
                                                </span>
                                            </del>
                                        </span>
                                    </div>
                                    <!-- Don't Sale -->
                                    <div *ngIf="item.sale==0" class="product-content">
                                        <h4 class="product_title">
                                            <div id="OverFlowNameCake" href="cakeDetail">{{item.nameCake}}</div>
                                        </h4>
                                        <span class="price">
                                            <small style="font-size: 14px;">
                                                <span class="woocommerce-Price-amount amount">
                                                    {{item.priceCake | currency:"VND"}}
                                                </span>
                                            </small>
                                        </span>
                                    </div>
                                    <!-- end product-content -->
                                </div>

                            </div>

                        </div>
                        <div>
                            <pagination-controls id='2' (pageChange)="p = $event"></pagination-controls>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
<style>
    #price-slider {
        width: 300px;
        height: 80px;
        font-size: 14px;
    }

    #price-slider input {
        width: 90px;
        display: inline-block;
        font-size: 12px;
    }

    #slider-range {
        position: relative;
        margin: auto;
        width: 250px;
        height: 13px;
        border: solid 1px black;
    }

    #slider-range .ui-slider-handle {
        position: absolute;
        width: 15px;
        height: 5px;
        margin-top: 2px;
        border: solid 1px black;
        cursor: pointer;
    }

    #slider-range .ui-slider-range {
        background: blue;
    }

    #slider-range .ui-corner-all {
        border-radius: 0px;
    }

    


    .size-cakestore_product_thumb {
        width: 200px !important;
        height: 250px !important;
    }
    .add-to-cart-btn {
        background: #079992 !important;
    }
</style>