<head>
  <meta charset="utf-8" />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
</head>

<body class="">
  <div class="wrapper ">

    <div class="main-panel" style="font-size: 13px;">
      <!-- Navbar -->
      <app-header></app-header>
      <div class="content" style="background-color: #EEEEEE;">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h3 class="card-title" style="font-size: 13px;">Thêm Bánh</h3>
                </div>
                <div class="card-body">
                  <form #cakeForm="ngForm" (ngSubmit)="onSubmit(cakeForm)" class="appointment-form"
                    style="color: #555555;">

                    <div class="col-sm-4">
                      <div class="input-field col s12">

                        <img alt="" src="{{getLinkImgCake }}" style="width: 100%;height: 100%;">

                      </div>
                    </div>
                    <div class="col-sm-8">
                      <div class="row" style="padding-bottom: 10px;">
                        <div class="input-field col s12" style="padding: 0px;">
                          <label>Hình Ảnh Sản Phẩm</label>
                          <input class="form-control" type="text" (change)="getLinkImg($event)" name="imgCake"
                            #name="ngModel" placeholder="Nhập Link Sản Phẩm" [(ngModel)]="cakeService.selectedCake.imgCake"
                            required>

                        </div>
                      </div>
                      <div class="row" style="padding-bottom: 10px;">
                        <div class="input-field col s12" style="padding: 0px;">
                          <label>Tên Bánh</label>
                          <input class="form-control" type="text" name="nameCake" #name="ngModel"
                            [(ngModel)]="cakeService.selectedCake.nameCake" placeholder="Nhập Tên Sản Phẩm" required>

                        </div>
                      </div>
                      <div class="row" style="padding-bottom: 10px;">
                        <div class="col-sm-4" style="padding: 0px;">
                          <label>Loại Sản Phẩm</label>&nbsp;
                         
                          <div class="id_100">
                            <select class="custom-select" style="height:36px;font-size: 14px;padding-left: 10px;"
                              name="categoryID" id="selectCategory" [(ngModel)]="cakeService.selectedCake.categoryID">
                              <!-- <option ></option> -->
                              <option *ngFor="let category of categoryService.categories" value="{{category._id}}">
                                {{category.nameCategory}}</option>
                            </select>
                          </div>
                        </div>
                        <!-- <div class="row" style="padding-bottom: 10px;">
                        <div class="input-field col s12" style="padding: 0px;">
                          <label>Số Lượng</label>
                          <input class="form-control" type="text" name="quantity" #name="ngModel"
                            [(ngModel)]="cakeService.selectedCake.quantity" placeholder="Nhập Số Lượng Sản Phẩm" required>

                        </div>
                      </div> -->
                        

                      </div>

                      <div class="row" style="padding-bottom: 10px;">
                        <div class="col-sm-4" style="padding: 0px;">
                          <label>Đơn Giá</label>
                          <input class="form-control" style="width: 150px;" type="text" id="donGia" name="priceCake"
                            #name="ngModel" [(ngModel)]="cakeService.selectedCake.priceCake" placeholder="Nhập Đơn Giá">

                        </div>
                        <div class="col-sm-4" style="padding: 0px;">
                          <div class="col-sm-4" style="padding: 0px;">
                            <label>Số lượng</label>
                            <input class="form-control" type="text" #name="ngModel" name="quantity" [(ngModel)]="cakeService.selectedCake.quantity">

                        </div>
                        </div>
                        <div class="col-sm-4">
                          <label>Giảm Giá</label>
                          <div class="id_100">
                            <select class="custom-select" name="sale" #name="ngModel"
                              [(ngModel)]="cakeService.selectedCake.sale" required
                              style="padding-left: 10px;width: 190px;height: 36px;font-size: 14px;">
                            
                              <option value=5>5%</option>
                              <option value=10>10%</option>
                              <option value=15>15%</option>
                              <option value=20>20%</option>
                              <option value=25>25%</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <!-- <div class="row" style="padding-bottom: 10px;">
                        <div class="input-field col s12" style="padding: 0px;">
                          <label>Link Đọc Thử</label>
                          <input class="form-control" type="file" name="tryRead" #name="ngModel"
                            [(ngModel)]="cakeService.selectedCake.tryRead" placeholder="Nhập Tệp Đọc Thử" required>

                        </div>
                      </div> -->
                      <div class="row" style="padding-bottom: 10px;">
                        <div class="input-field col s12" style="padding: 0px;">
                          <label>Chi Tiết Bánh</label>
                          <textarea class="form-control" style="height: 150px;" type="text" name="detailCake"
                            #name="ngModel" [(ngModel)]="cakeService.selectedCake.detailCake"
                            placeholder="Nhập Mô Tả Bánh"></textarea>

                        </div>
                      </div>


                      <div class="row" style="float: right;">
                        &nbsp;
                        <div class="input-field col s12">

                          <button class="btn btn-primary" type="submit"
                            style="border-radius: 30px ; width: 180px;height: 50px;font-size: 13px;">Lưu Thông
                            Tin</button>
                          <button class="btn btn-primary" type="button" (click)="cancel()"
                            style="border-radius: 30px; width: 180px;height: 50px;font-size: 13px;">Trở Về</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     <app-footer></app-footer>
    </div>
  </div>


</body>