<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">

<body class="">
    <div class="wrapper ">
        <div class="main-panel" style="font-size: 13px;">
            <!-- Navbar -->
            <app-header></app-header>
            <div class="content" style="background-color: #EEEEEE;">
                <div class="container-fluid">
                    <div id="container">
                        <div id="content" role="main">
                            <!-- <div style="background-color: #EEE;height:60px;width: 100%;text-align: center;">
                            <b style="top:15px;position: relative;">Lịch sử mua hàng của bạn đang trống </b></div> -->
                            <div class="container">

                                <div class="row order_sorter" style="width: 100%;">
                                    <ul id="toggle-orders" style="margin: auto;">
                                        <li class="first"></li>
                                        <li class="oh selected"><a type="button">Đơn Hàng Chờ Xác Nhận</a></li>
                                        <li class="fo"><a type="button">Đơn Hàng Đang Giao</a></li>
                                        <li class="com"><a type="button">Đơn Hàng Đã Giao</a></li>
                                    </ul>
                                </div>
                                <!-- new (Cash)-->
                                <div class="row" id="order-history">
                                    <div *ngFor="let order of list_Order; let $index=index;" style="width: 100%;">
                                        <div class="order-container" *ngIf="order.status=='New'">
                                            <div (click)="expandRow($index)">
                                                <div class="header" style="margin-bottom: 0px;">
                                                    <div class="row">
                                                        <div class="col-sm-3"><span>Ngày Đặt Hàng</span><span>{{order.orderDate}}</span></div>
                                                        <div *ngIf="order.discountCode!=0" class="col-sm-3"><span>Tổng Đơn Hàng</span><span>{{order.totalPrice|currency:"VND"}} - {{(order.totalPrice*order.discountCode)/100|currency:"VND"}}({{order.discountCode}}%)={{(order.totalPrice*(100-order.discountCode))/100|currency:"VND"}}    </span></div>
                                                        <div *ngIf="order.discountCode==0" class="col-sm-3"><span>Tổng Đơn Hàng</span><span>{{order.totalPrice|currency:"VND"}} </span></div>
                                                        <div class="col-sm-2">
                                                            <div *ngFor="let cus of list_all_customer">
                                                                <div *ngIf="cus._id==order.customerID">
                                                                    <span>Người Đặt Hàng</span><span>{{cus.name}}</span></div>
                                                            </div>
                                                        </div>
                                                        <!-- <div class="col-sm-1"></div> -->

                                                        <div class="col-sm-2"><span>Trạng thái</span><span>Chờ xác nhận </span></div>

                                                        <div class="col-sm-2">
                                                            <div class="box" style="padding: 0;">
                                                                <a (click)="ClickGiaoHang(order)" class="btn-default">Giao Hàng</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="$index === expandedIndex">
                                                <div *ngFor="let orderDetail of list_OrderDetail">
                                                    <div class="box" *ngIf="orderDetail.orderID==order._id">
                                                        <div *ngFor="let cake of list_Cake">
                                                            <div class="row" *ngIf="cake._id==orderDetail.cakeID">
                                                                <div class="col-sm-3">
                                                                    <img style="border:0px" src={{cake.imgCake}} alt="" />
                                                                </div>
                                                                <div class="col-sm-4">
                                                                    <p>{{cake.nameCake}}</p>
                                                                </div>
                                                                <div class="col-sm-2">
                                                                    <p>{{orderDetail.price|currency:"VND"}}</p>
                                                                </div>
                                                                <div class="col-sm-1">
                                                                    <p>x {{orderDetail.count}}</p>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end of order-container -->


                                </div>
                                <!-- end of Order History -->
                                <!-- inprogress -->

                                <div id="future-orders">
                                    <div *ngFor="let order of list_Order; let $index=index;">
                                        <div class="order-container" style="margin-right: 15px;margin-left: -15px;" *ngIf="order.status=='Inprogress'">
                                            <div (click)="expandRow($index)">
                                                <div class="header" style="margin-bottom: 0px;">
                                                    <div class="row">
                                                        <div class="col-sm-3"><span>Ngày Đặt Hàng</span><span>{{order.orderDate}}</span></div>
                                                        <div *ngIf="order.discountCode!=0" class="col-sm-3"><span>Tổng Đơn Hàng</span><span>{{order.totalPrice|currency:"VND"}} - {{(order.totalPrice*order.discountCode)/100|currency:"VND"}}({{order.discountCode}}%)={{(order.totalPrice*(100-order.discountCode))/100|currency:"VND"}}    </span></div>
                                                        <div *ngIf="order.discountCode==0" class="col-sm-3"><span>Tổng Đơn Hàng</span><span>{{order.totalPrice|currency:"VND"}} </span></div>
                                                        <div class="col-sm-2">
                                                            <div *ngFor="let cus of list_all_customer">
                                                                <div *ngIf="cus._id==order.customerID"><span>Người Đặt Hàng</span><span>{{cus.name}}</span></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2"><span>Trạng thái</span><span>Đang vận chuyển</span></div>
                                                        <div class="col-sm-2">
                                                            <div class="box">
                                                                <a (click)="ClickDaGiao(order)" class="btn-default">Đã Nhận Hàng</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="$index === expandedIndex">
                                                <div *ngFor="let orderDetail of list_OrderDetail">
                                                    <div class="box" *ngIf="orderDetail.orderID==order._id">
                                                        <div *ngFor="let cake of list_Cake">
                                                            <div class="row" *ngIf="cake._id==orderDetail.cakeID">
                                                                <div class="col-sm-3">
                                                                    <img style="border:0px" src={{cake.imgCake}} alt="" />
                                                                </div>
                                                                <div class="col-sm-4">
                                                                    <p>{{cake.nameCake}}</p>
                                                                </div>
                                                                <div class="col-sm-2">
                                                                    <p>{{orderDetail.price|currency:"VND"}}</p>
                                                                </div>
                                                                <div class="col-sm-1">
                                                                    <p>x {{orderDetail.count}}</p>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- end of order-container -->
                                <!-- end of future-orders -->
                                <!-- done    -->
                                <div id="done-orders">
                                    <div *ngFor="let order of list_Order; let $index=index;">
                                        <div class="order-container" style="margin-right: 15px;margin-left: -15px;" *ngIf="order.status=='Done'">
                                            <div (click)="expandRow($index)">
                                                <div class="header" style="margin-bottom: 0px;">
                                                    <div class="row">
                                                        <div class="col-sm-3"><span>Ngày Đặt Hàng</span><span>{{order.orderDate}}</span></div>
                                                        <div *ngIf="order.discountCode!=0" class="col-sm-3"><span>Tổng Đơn Hàng</span><span>{{order.totalPrice|currency:"VND"}} - {{(order.totalPrice*order.discountCode)/100|currency:"VND"}}({{order.discountCode}}%)={{(order.totalPrice*(100-order.discountCode))/100|currency:"VND"}}    </span></div>
                                                        <div *ngIf="order.discountCode==0" class="col-sm-3"><span>Tổng Đơn Hàng</span><span>{{order.totalPrice|currency:"VND"}} </span></div>
                                                        <div class="col-sm-2">
                                                            <div *ngFor="let cus of list_all_customer">
                                                                <div *ngIf="cus._id==order.customerID"><span>Người Đặt Hàng</span><span>{{cus.name}}</span></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-2"><span>Trạng thái</span><span>Đã giao hàng </span></div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="$index === expandedIndex">
                                                <div *ngFor="let orderDetail of list_OrderDetail">
                                                    <div class="box" *ngIf="orderDetail.orderID==order._id">
                                                        <div *ngFor="let cake of list_Cake">
                                                            <div class="row" *ngIf="cake._id==orderDetail.cakeID">
                                                                <div class="col-sm-3">
                                                                    <img style="border:0px" src={{cake.imgCake}} alt="" />
                                                                </div>
                                                                <div class="col-sm-4">
                                                                    <p>{{cake.nameCake}}</p>
                                                                </div>
                                                                <div class="col-sm-2">
                                                                    <p>{{orderDetail.price|currency:"VND"}}</p>
                                                                </div>
                                                                <div class="col-sm-1">
                                                                    <p>x {{orderDetail.count}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end of order-container -->


                                </div>
                                <!-- end of future-orders -->

                            </div>
                            <!-- container ends -->
                        </div>
                    </div>
                </div>
            </div>
            <app-footer></app-footer>
        </div>

    </div>


</body>